---
layout: page
---


<!-- Chinese Version -->
<div class="zh post-container">
    <%- page.content %>
    <div>
        <div class="fb-page" data-href="https://www.facebook.com/kdchang.net" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kdchang.net" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kdchang.net">KD Chang（張凱迪）</a></blockquote></div>
    </div>
</div>
<hr>
<iframe src="https://kdchang.substack.com/embed" width="100%" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
<hr>
<h3>Comments</h3>
<hr>
<br>
<% if(config['disqus_username']) { %>
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "<%= config['disqus_username'] %>";
    var disqus_identifier = "<%= page.permalink %>";
    var disqus_url = "<%= page.permalink %>";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
<% } %>

